configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "Agave Nerd Font Medium 10";
  modi: "drun,window";
}

/* Dark theme. */


@import "~/.cache/wal/colors-rofi-light"
window {
  width: 30%;
  border: 4;
}
