configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "Thunderman Nerd Font 9";
  modi: "drun,window";
}

/* light */


@import "~/.cache/wal/colors-rofi-dark"
window {
  width: 30%;
  border: 4;
}
