/* import pywal colors */ 

@import '../../.cache/wal/colors-waybar.css';

@define-color backgroundlight @color5;
@define-color backgrounddark @color11;
@define-color workspacesbackground1 @color5;
@define-color workspacesbackground2 @color11;
@define-color bordercolor @color15;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

.topbar {
}
.botombar{
}


* {
    border: none;
    border-radius: 0;
    font-family: "Agave Nerdfont";
    font-size: 14px;
    min-height: 0;
    margin: 0 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.5);
    border-bottom: none;
    color: @workspacesbackground1;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    color: @workspacesbackground1;
    border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inherit;
    border-bottom: none;
    border-radius: 5px;
}

#workspaces button.focused {
    background-color: @workspacesbackground1;
    color: #282828;
    border-bottom: none;
    border-radius: 5px;
}

#workspaces button.urgent {
    background-color: #2c303c;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#mode,
#idle_inhibitor,
#mpd,
#tray
{
    padding: 0 10px;
    margin: 0 0px;
    color: #ffffff;
}

#clock {
    color: #000000;
    background-color: @workspacesbackground1;
    border-radius: 0px 0px 0px 0px;
}

#battery {
    background-color: @workspacesbackground1;
    color: #000000;
}

#battery.charging {
    color: #000000;
    background-color: @workspacesbackground1;
}

@keyframes blink {
    to {
        background-color: @workspacesbackground1;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    background-color: @workspacesbackground1;
    color: #282828;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: @workspacesbackground1;
    color: #000000;
}

#network {
    background-color: @workspacesbackground1;
    color: #000000;
}

#network.disconnected {
    background-color: @workspacesbackground1;
}

#pulseaudio {
    background-color: @workspacesbackground1;
    color: #000000;
    border-radius: 0px 0px 0px 0px;
}

#pulseaudio.muted {
    background-color: #ebdbb2;
    color: #000000;
}

#idle_inhibitor {
    background-color: @workspacesbackground1;
    color: #000000;
    border-radius: 0px 0px 0px 0px;
}

#idle_inhibitor.activated {
    background-color: @workspacesbackground1;
    color: #000000;
    border-radius: 0px 0px 0px 0px;

}

#custom-notification {
    color: #000000;
    background-color: @workspacesbackground1;
    min-width: 20px;
    margin-right: 5px;
    border-radius: 0px 5px 5px 0px;
}

#tray {
  color: #ffffff;
  background-color: #3c3836;
  min-width: 30px;
  padding: 0 5px;
  color: #ffffff;
  border-radius: 5px 0px 0px 5px;
}

#taskbar button{
  color: @workspacesbackground1
}
#taskbar button.active{
  color: #ffffff;
}

#tray {
  background-color: @workspacesbackground2;
}

#custom-updates
{
  color: @workspacesbackground2
}

#custom-custom-scratchpad-indicator
{
  color: #ffffff;
  background-color: @workspacesbackground1;
  border-radius: 5px;
  padding: 5px 5px;
}
